.box{
    height: 100px;
    width: 100px;
    border: solid 3px red;
    background-color: aquamarine;
    border-left-style: double;
    border-right-style: dotted;
    border-top-right-radius: 10px;
}



li{
display: inline;
margin: 20px;




}

.left{
margin-left: 1200px;


}

.flex{
margin-top: 0;
position: absolute;
top: 10px;


}
