.red{
background-color: yellow;

}

img{
    width: 200px;
    height: 200px;
}

.text_1{
border: solid 8px aquamarine;

}

.hhh{
    background-color: rgb(21, 24, 218);
}
.green{
background-color: blueviolet;

}